<div class="container">
  <div class="row">
    <h1>Topups</h1>
    <% @topups.each do |topup| %>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <div class="caption">
            <h3><%= topup.name %></h3>
            <p>Amount: <%= humanized_money_with_symbol(topup.price) %></p>
            <p>Tokens: <%= topup.tokens %></p>
            <%= form_tag orders_path do %>
              <%= hidden_field_tag 'topup_id', topup.id %>
              <%= submit_tag 'Purchase', class: 'btn btn-primary' %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
