<body class="blue-dashboard">

  <% content_for(:after_js) do %>
  <div class="container">
    <div class="dashboard">
      <div class= "grid dashboard-picture">
        <div class="row">
        <div class="col-xs-12">
        <div class="dashboard-flex">
        <% if current_user.picture? %>
        <%= cl_image_tag current_user.picture, class: "avatar-dashboard"%>
        <% else %>
        <%= link_to cl_image_tag("pexels-photo-373465_ocuirm.jpg"), edit_users_path, class: "avatar-dashboard" %>
        <% end %>
        </div>
        </div>
        <div class="col-xs-12">
        <p class="text-center author-ndp"><strong><%= current_author.nom_de_plume %></strong> </p>
        </div>
        </div>
      </div>
      <div class= "grid author-box">

        <div id="author-description">

          <p><%= current_user.description %></p>
        </div>
        <div class="text-center" id="edit-btn">
          <%= link_to edit_users_path do %>
          <div class="btn btn-primary edit-btn" style="font-weight: lighter";>Edit my profile page</div>
          <% end %>
        </div>
      </div>


      <div class="grid best-sellers">
        <ul class="nav nav-tabs" role="tablist">
         <!--  <div class="slider"></div> -->
         <li role="presentation " class="active"><a href="#reads" aria-controls="reads" role="tab" data-toggle="tab">Reads</a></li>
         <li role="presentation"><a href="#money" aria-controls="money" role="tab" data-toggle="tab">Earnings</a></li>
         <li role="presentation" class=""><a href="#reviews" aria-controls="reviews" role="tab" data-toggle="tab">Reviews</a></li>
       </ul>
       <div class="tab-content">

        <div role="tabpanel" class="tab-pane active" id="reads">
          <div class="row">
            <div class="col-xs-12">
              <p><strong><%= @selected_book.first.title unless @selected_book.empty? %></strong></p>
              <div class="dropdown" id="book-dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <p><i class="fa fa-caret-down" aria-hidden="true"></i>
                  Choose book</p>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <% @books.each do |book| %>
                  <%= form_tag author_dashboard_path, method: :get do %>
                  <%= hidden_field_tag 'selected_book_reads', book.title %>
                  <%= submit_tag book.title %>
                  <% end %>
                  <% end %>
                </div>
              </div>

            </div>
            <div class="col-xs-12">

              <%= line_chart @chart_data, legend: false, xtitle: "Chapters", ytitle: "Reads", colors: ["light-grey", "#999"] %>
            </div>
          </div>
        </div>

        <div role="tabpanel" class="tab-pane" id="money">
          <div class="row">

            <div class="col-xs-2"></div>
            <div class="col-xs-6"><p><strong> Earnings this month</strong> </p></div>
            <div class="col-xs-4"><p><strong> € <%= @total_money_month.round(2) %></strong></p></div>
            <div class="col-xs-12"> <hr>    </div>

            <div class="col-xs-2"></div>
            <div class="col-xs-6"><p><strong> TOTAL EARNINGS </strong></p></div>
            <div class="col-xs-4"><p><strong> € <%= @total_money.round(2) %></strong> </p></div>
            <% @book_amounts.each do |book| %>
            <div class="col-xs-2"></div>
            <div class="col-xs-6"><p> <%= book["title"] %></p></div>
            <div class="col-xs-4"><p> € <%= book["amount"] %></p></div>
            <% end %>
          </div>

        </div>
        <div role="tabpanel" class="tab-pane" id="reviews">
          <% @my_reviews.each do |review| %>
          <div class= "review-box">
            <ul class="list-inline" id="dashboard-reviews">
              <li>
                <div class="rating">
                  <% 5.times do |counter|%>
                  <% if review.rating <= counter %>
                  <i class="fa fa-star-o" aria-hidden="true"></i>
                  <% else %>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <% end %>
                  <% end %>
                </div>
              </li>
              <li><p id="username">
                <%= review.book.title %>
              </p></li>
              <li><p id="review-date"><i><%= review.updated_at.strftime("%m/%d/%y") %></i></p></li>
            </ul>
            <p id="content-box"><%= review.content %></p>
          </div>
          <% end %>

        </div>

      </div>
    </div>

  </div>

  <div class="dashboard-title text-center">
    <h1 style="color: white;margin-bottom: 25px;";>My books</h1>
  </div>

  <div class="text-center">
    <%= link_to "Create a new book", new_author_book_path(current_author), class: "btn-inverted" %>
  </div>
<div id="dashboard-cards">
    <%=  render 'shared/cards' %>
</div>

</div>
<% end %>
</body>


