<% if current_user.author != @author %>
<div class="container">
  <div class="profile grid text-center">
    <div class="main">
      <div class="main-content">
        <%= cl_image_tag @author.user.picture, class: "img-circle", width: 150 %>
        <h2> <%= @author.nom_de_plume %> </h2>
      </div>
    </div>
    <div class="description">
      <div class="description-content">
        <h3>More about <%= @author.nom_de_plume %> </h3>
        <p class="text-justify"> <%= @author.user.description  %> </p>
      </div>
    </div>

    <div class="books">
      <div class="container">
        <div class="row">
         <%= render 'shared/cards', books:  @author.books %>
     </div>
   </div>
</div>
<% end %>
