<% if current_user.author != @author %>
<div class="container">
  <div class="profile grid text-center">
    <div class="main">
      <div class="main-content">
        <%= cl_image_tag @author.user.picture, class: "img-circle", width: 150 %>
        <h2> <%= @author.nom_de_plume %> </h2>
      </div>
    </div>
    <div class="description">
      <div class="description-content">
        <h3>More about <%= @author.nom_de_plume %> </h3>
        <p class="text-justify"> <%= @author.user.description  %> </p>
      </div>
    </div>

    <div class="books">
      <div class="container">
        <div class="row">
         <% @author.books.each do |book| %>
         <div class="col-xs-12 col-sm-4">
          <div class="card-author" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://source.unsplash.com/random');">
            <div class="card-category">
              <p><%= book.title %></p>
              <div>
               <% unless book.reviews.empty? %>
               <% 5.times do |counter|%>
               <% if book.reviews.average(:rating) <= counter %>
               <i class="fa fa-star-o" aria-hidden="true"></i>
               <% else %>
               <i class="fa fa-star" aria-hidden="true"></i>
               <% end %>
               <% end %>
               <% end %>
             </div>
           </div>
           <div class="card-description">
             <p><%= book.genre %></p>
           </div>
           <%= link_to book_path(book), class: 'card-link' do %>
           <p class="description-hover"> <%= book.quote_hover %> </p>
           <% end %>
         </div>
       </div>
       <% end %>

     </div>
   </div>
</div>
</div>
<% end %>
