<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <div class="form-post">
      <%= simple_form_for users_path(@user) do |f| %>
      <div class="form-inputs">
        <%= f.input :picture, placeholder: @user.picture %>
        <%= f.input :picture_cache, as: :hidden %>
        <%= f.input :description, placeholder: @user.description%>
        <%= f.input :favorite_genre, placeholder: @user.fav_genre %>
        <%= f.input :first_name, placeholder: @user.f_name%>
        <%= f.input :last_name, placeholder: @user.l_name%>
        <%= f.button :submit, class:"btn btn-danger" %>
      </div>
      <% end %>
      </div>
    </div>
  </div>
</div>




