<div class="row">
<div class="col-xs-12" id="collection-title">
  <h2>My collection</h2>
</div>
</div>
<div class="text-center">
<%= link_to edit_users_path do %>
  <div class="btn btn-danger text-center">Edit my profile page</div>
<% end %>
</div>

<% if @my_genres.size >= 1 %>
  <% genre = @my_genres[0]%>
  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingOne">
        <h4 class="panel-title">
          <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
            <%= genre %>
          </a>
        </h4>
      </div>
      <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
        <% @my_books.each do |book| %>
          <% if book.genre == genre %>
        <div class="panel-body">
          <div class="col-xs-9">
          <%= link_to book.title, book_episode_path(book, book.episodes.last) %>
          </div>
          <div class="col-xs-3">
          <span class="badge"><%= book.episodes.count - @user.transactions.where(book: book).count %></span>
          </div>
        </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<% if @my_genres.size >= 2 %>
  <% genre = @my_genres[1]%>
  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingTwo">
        <h4 class="panel-title">
          <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            <%= genre %>
          </a>
        </h4>
      </div>
      <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
        <% @my_books.each do |book| %>
          <% if book.genre == genre %>
        <div class="panel-body">
          <div class="col-xs-9">
          <%= link_to book.title, book_path(book) %>
          </div>
          <div class="col-xs-3">
          <span class="badge"><%= book.episodes.count - @user.transactions.where(book: book).count %></span>
          </div>
        </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<% if @my_genres.size >= 3 %>
  <% genre = @my_genres[2]%>
  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingThree">
        <h4 class="panel-title">
          <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            <%= genre %>
          </a>
        </h4>
      </div>
      <div id="collapseThree" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
        <% @my_books.each do |book| %>
          <% if book.genre == genre %>
        <div class="panel-body">
          <div class="col-xs-9">
          <%= link_to book.title, book_path(book) %>
          </div>
          <div class="col-xs-3">
          <span class="badge"><%= book.episodes.count - @user.transactions.where(book: book).count %></span>
          </div>
        </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<% if @my_genres.size >= 4 %>
  <% genre = @my_genres[3]%>
  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingFour">
        <h4 class="panel-title">
          <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
            <%= genre %>
          </a>
        </h4>
      </div>
      <div id="collapseFour" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
        <% @my_books.each do |book| %>
          <% if book.genre == genre %>
        <div class="panel-body">
          <div class="col-xs-9">
          <%= link_to book.title, book_path(book) %>
          </div>
          <div class="col-xs-3">
          <span class="badge"><%= book.episodes.count - @user.transactions.where(book: book).count %></span>
          </div>
        </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<% if @my_genres.size >= 5 %>
  <% genre = @my_genres[4]%>
  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingFive">
        <h4 class="panel-title">
          <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
            <%= genre %>
          </a>
        </h4>
      </div>
      <div id="collapseFive" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
        <% @my_books.each do |book| %>
          <% if book.genre == genre %>
        <div class="panel-body">
          <div class="col-xs-9">
          <%= link_to book.title, book_path(book) %>
          </div>
          <div class="col-xs-3">
          <span class="badge"><%= book.episodes.count - @user.transactions.where(book: book).count %></span>
          </div>
        </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<% if @my_genres.size >= 6 %>
  <% genre = @my_genres[5]%>
  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingSix">
        <h4 class="panel-title">
          <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="true" aria-controls="collapseSix">
            <%= genre %>
          </a>
        </h4>
      </div>
      <div id="collapseSix" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
        <% @my_books.each do |book| %>
          <% if book.genre == genre %>
        <div class="panel-body">
          <div class="col-xs-9">
          <%= link_to book.title, book_path(book) %>
          </div>
          <div class="col-xs-3">
          <span class="badge"><%= book.episodes.count - @user.transactions.where(book: book).count %></span>
          </div>
        </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<% if @my_genres.size >= 7 %>
  <% genre = @my_genres[6]%>
  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingSeven">
        <h4 class="panel-title">
          <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="true" aria-controls="collapseSeven">
            <%= genre %>
          </a>
        </h4>
      </div>
      <div id="collapseSeven" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
        <% @my_books.each do |book| %>
          <% if book.genre == genre %>
        <div class="panel-body">
          <div class="col-xs-9">
          <%= link_to book.title, book_path(book) %>
          </div>
          <div class="col-xs-3">
          <span class="badge"><%= book.episodes.count - @user.transactions.where(book: book).count %></span>
          </div>
        </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<% if @my_genres.size >= 8 %>
  <% genre = @my_genres[7]%>
  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingEight">
        <h4 class="panel-title">
          <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseEight" aria-expanded="true" aria-controls="collapseEight">
            <%= genre %>
          </a>
        </h4>
      </div>
      <div id="collapseEight" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
        <% @my_books.each do |book| %>
          <% if book.genre == genre %>
        <div class="panel-body">
          <div class="col-xs-9">
          <%= link_to book.title, book_path(book) %>
          </div>
          <div class="col-xs-3">
          <span class="badge"><%= book.episodes.count - @user.transactions.where(book: book).count %></span>
          </div>
        </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<% if @my_genres.size >= 9 %>
  <% genre = @my_genres[8]%>
  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingNine">
        <h4 class="panel-title">
          <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseNine" aria-expanded="true" aria-controls="collapseNine">
            <%= genre %>
          </a>
        </h4>
      </div>
      <div id="collapseNine" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
        <% @my_books.each do |book| %>
          <% if book.genre == genre %>
        <div class="panel-body">
          <div class="col-xs-9">
          <%= link_to book.title, book_path(book) %>
          </div>
          <div class="col-xs-3">
          <span class="badge"><%= book.episodes.count - @user.transactions.where(book: book).count %></span>
          </div>
        </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>


