<div class="container"><div class="row">
  <div class="col-xs-12" id="collection-title">
    <h2>My collection</h2>
  </div>
</div>
<div class="text-center">
  <%= link_to edit_users_path do %>
  <div class="btn btn-danger text-center">Edit my profile page</div>
  <% end %>
</div>
<hr>
<% @my_genres.each do |genre| %>

  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="heading">
        <h4 class="panel-title">
          <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse<%= genre %>" aria-expanded="false" aria-controls="collapse<%= genre %>">
            <%= genre %>
          </a>
        </h4>
      </div>
      <div id="collapse<%= genre %>" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading<%= genre %>">
        <% @my_books.each do |book| %>
          <% if book.genre == genre %>
            <div class="panel-body">
              <div class="col-xs-9">
                <%= link_to book.title, book_path(book) %>
              </div>
              <div class="col-xs-3">
                <span class="badge"><%= book.episodes.count - current_user.transactions.where(book: book).count %></span>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
</div>
