
<div class="navbar navbar-inverse navbar-fixed-left">
<div class="nav navbar-nav" >
<div id="accordion" role="tablist" data-children=".item">

  <div class="card" data-parent="accordion">
    <div class="card-header" role="tab" id="headingOne">
        <a data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne"> <i class="fa fa-caret-down" aria-hidden="true"></i>
          GENRE
        </a>
    </div>

    <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        <% @genres.each do |genre| %>

          <%= form_tag search_books_path, method: :get do %>
            <%= hidden_field_tag 'query', @query %>
            <%= hidden_field_tag 'genre', genre %>
            <%= submit_tag genre.upcase %>
          <% end %>

        <% end %>
      </div>
    </div>
  </div>


  <div class="card" data-parent="accordion">
    <div class="card-header" role="tab" id="headingTwo">

        <a class="collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
         <i class="fa fa-caret-down" aria-hidden="true"></i> AUTHOR
        </a>

    </div>
    <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">
        <% @authors.each do |author| %>

          <%= form_tag search_books_path, method: :get do %>
              <%= hidden_field_tag 'query', @query %>
              <%= hidden_field_tag 'author', author %>
              <%= submit_tag author.upcase %>
          <% end %>

        <% end %>
      </div>
    </div>
  </div>

</div>
</div>
</div>
