<div id="chapter<%= episode.id %>" class="modal fade" role="dialog">
  <div class="padding-top-90"></div>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Order summary</h4>
      </div>
      <div class="modal-body">
        <div class="panel panel-default">
          <!-- Table -->
          <table class="table">
            <tr>
              <th>Chapter</th>
              <th>Title</th>
              <th>Price</th>
            </tr>
            <tr>
              <td> <%= episode.number %></td>
              <td> <%= episode.title %></td>
              <td> <%= episode.price %></td>
            </tr>
          </table>
        </div>
        <div>
        <% if current_user && current_user.tokens >= episode.price %>
          <%= form_tag book_episode_transactions_path(book, episode), method: :post do %>
            <%= hidden_field_tag 'episode', :episode %>
            <%= submit_tag 'Buy now', class: 'btn btn-danger', style:"margin-left: 254px;margin-top: 15px;font-weight: lighter;" %>
          <% end %>
          <% episode.price %>
        <% elsif current_user %>
          <%= link_to "Top up", topups_path, class: 'btn btn-primary' %>
        <% else %>
          <%= link_to "Log in", new_registration_session_path, class: 'btn btn-primary' %>
        <% end %>
        </div>
      </div>

    </div>
  </div>
</div>
