<ul class="inbox">
  <li class="message">
    <div class="message-name">
      <h5>Chapter</h5>
    </div>
    <div class="message-body">
      <h5 style="padding-left: 20px;">Title</h5>
    </div>
    <div class="message-name">
      <h5>Read/Buy</h5>
    </div>
  </li>
</ul>
<% if current_user == @author %>
  <%= link_to "new chapter", new_book_episode_path(@book), class: "btn btn-primary" %>
<% end %>
<% @episodes.each do |episode| %>
<li class="message">
  <div class="message-name">
    <p><%= episode.number %></p>
  </div>
  <div class="message-body">
    <p>
      <%= episode.title %>
    </p>
  </div>
  <div class="message-button">

      <% if @book.author == current_author %>
        <%= link_to "Open", book_episode_path(@book,episode), class: "btn btn-primary" %>
      <% elsif current_user.owned_episodes(@book).include? episode  %>
        <%= link_to "Read", book_episode_path(@book,episode), class: "btn btn-primary" %>
      <% else %>
        <button class="btn btn-primary" id="buy-btn" type="button" data-toggle="modal" data-target="#chapter<%= episode.id %>"><p><%= episode.price %> cents </p></button>
      <% end %>

  </div>
</li>
</ul>
<%= render 'shared/modal', episode: episode, book: @book %>
<% end %>
