<% @book.episodes.each do |episode| %>
  <div class="chapter">
    <div  class="chapter-title"><strong> <%= episode.number %> - <%= episode.title %> </strong></div>
    <div class="extra-info">
    <div><%= (episode.content.size / 4000.00).round(2) %> </div>
    <div>
      <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal<%= episode.number %>">Open Modal</button>
    </div>
    <div> owned </div>
    </div>
  </div>
  <div id="myModal<%= episode.number %>" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
        <p><%= episode.title %></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<% end %>











