<% content_for :meta_title %>
<% content_for :meta_description%>
<% content_for :meta_image%>
<% content_for :meta_product_name%>

<div class="navbar-wagon home">
  <%= link_to root_path do %>
    <%= cl_image_tag "logo.svg", class: "navbar-wagon-brand" %>
  <% end %>

  <div class="navbar-wagon-right hidden-xs hidden-sm">
    <% if current_user %>
     <a href="/about.html" class="navbar-wagon-item navbar-wagon-link">ABOUT</a>
    <% if current_author %>

    <% else %>
    <%= link_to "BECOME AN AUTHOR", new_author_path, class: 'navbar-wagon-item navbar-wagon-link' %>
    <% end %>
    <div class="navbar-wagon-item">
      <div class="dropdown">
        <% if current_author %>
        <% current_user.picture? ? avatar_url = current_user.picture : avatar_url = "https://avatars1.githubusercontent.com/u/22871877?s=460&v=4" %>
        <%= image_tag avatar_url, class: "avatar avatar-small dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li> <%= link_to "MY COLLECTION", users_path %> </li>
          <li> <%= link_to "DASHBOARD", author_dashboard_path %> </li>
          <li> <%= link_to "LOG OUT", destroy_registration_session_path, method: :delete %> </li>
        </ul>
        <% else %>
        <% current_user.picture? ? avatar_url = current_user.picture : avatar_url = "https://avatars1.githubusercontent.com/u/22871877?s=460&v=4" %>
        <%= image_tag avatar_url, class: "avatar avatar-small dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown"%>
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li> <%= link_to "MY COLLECTION", users_path %> </li>
          <li> <%= link_to "LOG OUT", destroy_registration_session_path, method: :delete %> </li>
          <% end %>
        </ul>
      </div>
    </div>
    <% else %>
    <%= link_to "ABOUT", about_path, class: 'navbar-wagon-item navbar-wagon-link' %>
    <%= link_to "SIGN UP", new_registration_registration_path, class: 'navbar-wagon-item navbar-wagon-link' %>
    <%= link_to "LOG IN", new_registration_session_path, class: 'navbar-wagon-item navbar-wagon-link' %>
    <% end %>
  </div>



  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <% if current_user && current_author %>
          <li> <%= link_to "ABOUT", about_path %> </li>
          <li> <%= link_to "MY COLLECTION", users_path %> </li>
          <li> <%= link_to "DASHBOARD", dashboard_path %> </li>
          <li> <%= link_to "LOG OUT", destroy_registration_session_path, method: :delete %> </li>

        <% elsif current_user %>
          <li> <%= link_to "ABOUT", about_path %> </li>
          <li> <%= link_to "BECOME AN AUTHOR", new_author_path %> </li>
          <li> <%= link_to "MY COLLECTION", users_path %> </li>
          <li> <%= link_to "DASHBOARD", author_dashboard_path %> </li>
          <li> <%= link_to "LOG OUT", destroy_registration_session_path %> </li>

        <% else %>
          <li> <%= link_to "ABOUT", about_path %> </li>
          <li> <%= link_to "SIGN UP", new_registration_registration_path %> </li>
          <li> <%= link_to "LOG IN", new_registration_session_path %> </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<%= render 'shared/flashes'  %>


<section class="example-classname" data-section-name="home">
  <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.3) 0%, rgba(0,36,61,0.3) 30%), url('https://static.pexels.com/photos/267569/pexels-photo-267569.jpeg');">
    <div class="banner-content">
      <div class="row">
        <div class="col-xs-12">
          <h1>CHAPTER</h1>
          <h2>Discover the world, one chapter at a time</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">

          <div class="aa-input-container" id="aa-input-container">
            <form action="/books/search" method="get">
              <input autofocus type="search" id="aa-search-input" class="aa-input-search" placeholder="Search for books..." name="query" autocomplete="on" >
              <svg class="aa-input-icon" viewBox="654 -372 1664 1664">
                <path d="M1806,332c0-123.3-43.8-228.8-131.5-316.5C1586.8-72.2,1481.3-116,1358-116s-228.8,43.8-316.5,131.5  C953.8,103.2,910,208.7,910,332s43.8,228.8,131.5,316.5C1129.2,736.2,1234.7,780,1358,780s228.8-43.8,316.5-131.5  C1762.2,560.8,1806,455.3,1806,332z M2318,1164c0,34.7-12.7,64.7-38,90s-55.3,38-90,38c-36,0-66-12.7-90-38l-343-342  c-119.3,82.7-252.3,124-399,124c-95.3,0-186.5-18.5-273.5-55.5s-162-87-225-150s-113-138-150-225S654,427.3,654,332  s18.5-186.5,55.5-273.5s87-162,150-225s138-113,225-150S1262.7-372,1358-372s186.5,18.5,273.5,55.5s162,87,225,150s113,138,150,225  S2062,236.7,2062,332c0,146.7-41.3,279.7-124,399l343,343C2305.7,1098.7,2318,1128.7,2318,1164z" />
              </svg>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="example-classname" data-section-name="feature-1" style="height: 676px; background-color: rgb(244, 58, 89);">
  <div class="container flex">
    <div class="description-feature-1" >
      <h1 style="text-align:center;">ONLY BUY WHAT YOU READ</h1>
      <p style="text-align:center;">Never feel forced to finish a book because you bought it</p>
    </div>
  </div>
</section>

<section class="example-classname" data-section-name="feature-2" style="height: 676px; background-color: rgb(75, 164, 207);">
  <div class="container flex">
    <div class="description-feature-2" >
      <h1 style="text-align:center;">DISCOVER</h1>
      <h1 style="text-align:center;">AND SUPPORT TALENT</h1>
      <p style="text-align:center;">Don't be restrained by the publishing houses</p>
    </div>
  </div>
</section>

<section class="example-classname" data-section-name="feature-3" style="height: 676px; background-color: rgb(253, 124, 39);">
  <div class="container flex">
    <div class="description-feature-3" >
      <h1 style="text-align:center;">YOUR AUDIENCE</h1>
      <h1 style="text-align:center;">IS ONE CLICK AWAY</h1>
      <p style="text-align:center;">Say no to the gatekeepers</p>
    </div>
  </div>
</section>
<% content_for :after_js do %>
<script>
  $(function() {
    $.scrollify({
      section : ".example-classname",
      sectionName : "section-name",
      easing: "easeOutExpo",
      scrollSpeed: 900,
      offset : 0,
      scrollbars: false,
      standardScrollElements: "",
      setHeights: true,
      overflowScroll: true,
      updateHash: true,
      touchScroll:true,
      before:function() {},
      after:function() {},
      afterResize:function() {},
      afterRender:function() {}
    });
  });
</script>
<% end %>
