
<%= simple_form_for [@author, @book], url: author_books_path do |f| %>
<div class="form-inputs">
  <%= f.input :title %>
  <%= f.input :description %>
  <%= f.input :genre %>
  <%= f.input :tags %>
  <%= f.input :cover_pic %>
  <%= f.input :cover_pic_cache, as: :hidden %>
  <%= f.input :quote_hover %>
  <%= f.submit class:"btn btn-danger"%>
</div>
<% end %>
