<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="card">
        <div class="showpage-cover" style=style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= @book.cover_pic %>');">
        </div>
        <div class="showpage-title">
          <%= @book.title %>
        </div>
        <div class="showpage-description">
          <p>Description:</p>
          <p><%= @book.description %></p>
        </div>
        <div class="showpage-genre">
          <p>Genre:</p>
          <p><%= @book.genre %></p>
          <p>Tags:</p>
          <p><%= @book.tags %></p>
        </div>
      </div>
    </div>
  </div>
</div>



