<div class="showpage-banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://source.unsplash.com/random');">
  <div class="container">
    <div class="row">
      <div id="showpage-header">
          <div class="dashboard-title text-center">
            <h1 style="color: white";><%= @book.title %></h1>
          </div>
          <div class="text-center">
            <%= link_to "Go back", :back, class:"btn btn-primary" %>
          </div>
      </div>
      <div class="col-xs-12">
        <div class="showpage-card">

          <ul class="nav nav-tabs" role="tablist">
            <div class="slider"></div>
            <li role="presentation" class="active"><a href="#info" aria-controls="info" role="tab" data-toggle="tab">Info</a></li>
            <li role="presentation" class=""><a href="#chapters" aria-controls="chapters" role="tab" data-toggle="tab">Chapters (<%= @book.episodes.count  %>)</a></li>
            <li role="presentation" class=""><a href="#reviews" aria-controls="reviews" role="tab" data-toggle="tab">Reviews (<%= @book.reviews.count  %>)</a></li>
          </ul>
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="info">
              <div class="row">

                  <div class="col-xs-12 col-sm-6">
                    <div class="card" id="book-show-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path @book.cover_pic, crop: :fill %>');"></div>
                  </div>
                  <div class="col-xs-12 col-sm-6">
                    <p><strong>Author:</strong> <%= @book.author.nom_de_plume%></p>
                    <p><strong>Description: </strong><%= @book.description %></p>
                    <p><strong>Genre: </strong><%= @book.genre %></p>
                  </div>
                </div>
              </div>
            <div role="tabpanel" class="tab-pane" id="chapters"><%= render 'episodes/book_chapters' %>
            </div>
            <div role="tabpanel" class="tab-pane" id="reviews"><%= render 'books/book_reviews' %></div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
<%= render 'shared/modal_book_download', book: @book %>

