<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>CHAPTER</title>
  <%= csrf_meta_tags %>
  <%= action_cable_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all' %>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
  <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
</head>
<body>
  <%= render 'shared/navbar' %>

    <%= yield %>

  <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
  <%= javascript_include_tag 'application' %>
  <%= yield :after_js %>

  <!-- Include AlgoliaSearch JS Client and autocomplete.js library -->
  <script src="https://cdn.jsdelivr.net/algoliasearch/3/algoliasearch.min.js"></script>
  <script src="https://cdn.jsdelivr.net/autocomplete.js/0/autocomplete.min.js"></script>
  <!-- Initialize autocomplete menu -->
  <script>
    var client = algoliasearch("L4XOTOW05B", "b4f8d8f4c33526b8c662d91def380967");
    var index = client.initIndex('Book');
//initialize autocomplete on search input (ID selector must match)
autocomplete('#aa-search-input',
{ hint: false }, {
    source: autocomplete.sources.hits(index, {hitsPerPage: 4}),
    //value to be displayed in input control after user's suggestion selection
    displayKey: 'name',

    //hash of templates used when rendering dataset
    templates: {
        //'suggestion' templating function used to render a single suggestion
        suggestion: function(suggestion) {

          return '<span>' +
          suggestion._highlightResult.title.value + '</span> - <span>' +
          suggestion._highlightResult.genre.value + '</span>';
        }
      }
    });
</script>
</body>
</html>
